---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Claudio Marzolo">
  <h1>Claudio Marzolo</h1>
  <p>Contrabbassista e docente.</p>

  <p>
    Questo sito è in aggiornamento: stiamo migrando a una versione più veloce e sicura.
  </p>
</Layout>
