<header class="site-header">
  <a class="site-logo" href="/" aria-label="Home">
    <img src="/img/theme_logo_v07.png" alt="Claudio Marzolo" width="240" height="60" />
  </a>

  <nav class="site-nav" aria-label="Navigazione principale">
    <a href="/">Home</a>
    <a href="/biografia">Biografia</a>
    <a href="/biography">Biography</a>
    <a href="/foto">Foto</a>
    <a href="/pubblicazioni">Pubblicazioni</a>
    <a href="/discografia">Discografia</a>
    <a href="/equipment">Equipment</a>
    <a href="/contatti">Contatti</a>
  </nav>

  <hr class="site-rule" />
</header>